svg {
    background-color: #ffeeff;
}

.node circle {
    fill: steelblue;
}
.node text {
    font: bold 12px sans-serif;
    fill: darkred;
    text-shadow: 0 1px 0 #fff;
}
.link {
    fill: none;
    stroke: #000;
    stroke-opacity: .2;
}

.Auth {
    fill: #rrcdcd;
}

.Sql {
    fill: pink;
}

.Datatabase {
    fill: orange;
}

.Service {
    fill: #633F3F;
}

.ESB {
    fill: brown;
}

.Start {
    fill: green;
}

.End {
    fill: red;
}

.Application {
    fill: #F59C0E;
}
.ESB {
    fill: #cfcfcf;
}

.RESTFul {
    fill: cyan;
}

div.tooltip {   
  position: absolute;           
  text-align: left;           
  width: 400px;                  
  #height: 28px;                 
  padding: 2px;             
  font: 12px sans-serif;        
  background: white;   
  border: 1px;      
  border-radius: 8px;           
  pointer-events: none;         
}